html{
    background-image: linear-gradient(to bottom, #9CDFEF,  white);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    min-height: 100vh;
    margin: 0px;

}

h1{
    text-align: center;
}

.Output{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.temp, .sky, .wind{
    margin: 0;
}
.temp, .sky {
    width: calc(50% - 60px);
    text-align: center;
    border: 5px outset black;
    margin: 25px;
    background-color: lightgray;
}